@reset-global pc

@keyframes moveShutter
  0%
    transform translateX(-150%) skew(-25deg)
  100%
    transform translateX(50%) skew(-25deg)


@keyframes profyShutter
  0%
    transform translateX(-100%) skew(-25deg)
  100%
     transform translateX(0%) skew(-25deg)