doctype
html
    head
        title Strategy21
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(href="./css/main.css", type="text/css", rel="stylesheet")
        //- script(src="./js/preload.js")
        //- include _svg.jade
        //- include _mixin.jade

    block variables 
    body
        include _svg.pug
            block content
        script(src="./js/app.js")
