extends _layout
block variables
    -var topNav = {"about":"о нас","chain-stores":"сеть магазинов","assortiment":"ассортимент","contacts":"контакты"}
    -var brandList = ["../img/brand-item-1.png", "../img/brand-item-2.png", "../img/brand-item-3.png", "../img/brand-item-4.png","../img/brand-item-5.png"]
    -var commonNav = {"main":"главная","about":"о нас","chain-stores":"сеть магазинов","assortiment":"ассортимент","contacts":"контакты"}
block content 
    .mobileMenu
      .mobileMenuIcon#menuIcon
        -for(i=0;i<3;i++)
          span.mobileMenuIconSpan
      svg.mobileMenuLogo
        use(xlink:href="#glavpivo-logo")
      a.mobileMenuPhoneLink(href="tel:+7(812)998-88-91")
        img.mobileMenuPhoneLinkImg(src="../img/telbutton.png")
      ul.mobileMenuList
        each name,href in commonNav
          li.mobileMenuListItem
            a.mobileMenuListItemLink(href=href)=name
    nav.navSection
      svg.navSectionLogo
        use(xlink:href="#glavpivo-logo")
      ul.navSectionList
        each name,href in topNav
          li.navSectionListItem
            a.navSectionListItemLink(href=href)=name
    .slideSides.crabSlide
      .leftSide
        svg.leftSideBeer
          use(xlink:href="#beer")
        .leftSideCrab
          svg.leftSideCrabLeftTopClaw
            use(xlink:href="#crab-left-top-claw")
          svg.leftSideCrabLeftMiddleClaw
            use(xlink:href="#crab-left-middle-claw")
          svg.leftSideCrabLeftBottomClaw
            use(xlink:href="#crab-left-bottom-claw")
          svg.leftSideCrabLeftLeg
            use(xlink:href="#crab-left-leg")
          svg.leftSideCrabLeftEye
            use(xlink:href="#crab-left-eye")      
          img.leftSideCrabBody(src="./img/crab-body.png")
          svg.leftSideCrabRightEye
            use(xlink:href="#crab-right-eye")      
          svg.leftSideCrabRightTopClaw
            use(xlink:href="#crab-right-top-claw")
          svg.leftSideCrabRightMiddleClaw
            use(xlink:href="#crab-right-middle-claw")
          svg.leftSideCrabRightBottomClaw
            use(xlink:href="#crab-right-bottom-claw")
          svg.leftSideCrabRightTopLeg
            use(xlink:href="#crab-right-top-leg")
          svg.leftSideCrabRightBottomLeg
            use(xlink:href="#crab-right-bottom-leg")
          .leftSideCrabPreviousWeek
            img.leftSideCrabPreviousWeekImg(src="./img/arrow-circle-left.png")  
            p.leftSideCrabPreviousWeekText Предыдущая неделя  
        img.leftSidePreviousSlide(src="./img/arrowleft.png")                
      .rightSide
        .rightSideInfo
          p.rightSideInfoTop новинка!
          h1.rightSideInfoName Курортное
          .rightSideInfoDetails
            p.rightSideInfoDetailsText 5% об.
            p.rightSideInfoDetailsText 13 IBU
        p.rightSideDescr Знакомьтесь – легкое нефильтрованное пиво «Курортное», созданное по непревзойденной рецептуре ГлавПиво.
        .rightSidePrice
          .rightSidePriceBottle
            svg.rightSidePriceBottleSvg
              use(xlink:href="#crab-bottle")
            .rightSidePriceBottleInfo
              p.rightSidePriceBottleInfoVolume 1 литр
              p.rightSidePriceBottleInfoMoney 90 .–
          a.rightSidePriceLink(href="#") Подробнее
        img.rightSideNextSlide(src="./img/arrowright.png") 
    .weekBrands
      p.weekBrandText популярные бренды недели
      .weekBrandCard
        .weekBrandCardFlipper
          .weekBrandCardFrontside     
            svg.weekBrandCardLike
              use(xlink:href="#like")
            img.weekBrandCardImg(src="./img/jzhiguli.png")
            .weekBrandCardDetails
              p.weekBrandCardDetailsText 4,9% об.
              p.weekBrandCardDetailsText IBU 5
            h3.weekBrandCardName Жигулевское пиво
            img.weekBrandCardArrow(src="./img/arrowrightcircle.png")
          .weekBrandCardBackside
            h5.weekBrandCardBacksideName Жигулевское традиционное
            p.weekBrandCardBacksideFactory Трехсоснеский завод
            .weekBrandCardBacksideDetails
              p.weekBrandCardBacksideDetailsText 4,9% об.
              p.weekBrandCardBacksideDetailsText IBU 5
            p.weekBrandCardBacksideText Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
            p.weekBrandCardBacksideAviable Доступно в 
              span.weekBrandCardBacksideAviableNumber 15 точках.
            img.weekBrandCardBacksideArrow(src="./img/arrowrightcircle.png")
      .weekBrandCard
        .weekBrandCardFlipper
          .weekBrandCardFrontside
            svg.weekBrandCardLike
              use(xlink:href="#like")
            img.weekBrandCardImg(src="./img/jzhiguli.png")
            .weekBrandCardDetails
              p.weekBrandCardDetailsText 3,6% об.
              p.weekBrandCardDetailsText IBU 5
            h3.weekBrandCardName Dome Kriek
            img.weekBrandCardArrow(src="./img/arrowrightcircle.png")
          .weekBrandCardBackside
            h5.weekBrandCardBacksideName Жигулевское традиционное
            p.weekBrandCardBacksideFactory Трехсоснеский завод
            .weekBrandCardBacksideDetails
              p.weekBrandCardBacksideDetailsText 4,9% об.
              p.weekBrandCardBacksideDetailsText IBU 5
            p.weekBrandCardBacksideText Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
            p.weekBrandCardBacksideAviable Доступно в 
              span.weekBrandCardBacksideAviableNumber 15 точках.
            img.weekBrandCardBacksideArrow(src="./img/arrowrightcircle.png")      
    .bottomSide
      .bottomSideBrandWrap    
        .bottomSideBrand.swiper-container  
          ul.bottomSideBrandList.swiper-wrapper
            each img in brandList
              li.bottomSideBrandListItem.swiper-slide
                img.bottomSideBrandListItemImg(src=img)
        img.bottomSideBrandArrow(src="./img/arrowrightcircle.png")
      .bottomSideSlides
        .bottomSideSlide
          p.bottomSideSlideText 45 магазинов-пивных в Петербурге и области
          a.bottomSideSlideArrow(href="#")
            img.bottomSideSlideArrowImg(src="./img/arrowright.png")
        .bottomSideSlide
          p.bottomSideSlideText Свежее пиво и вкусные напитки
          a.bottomSideSlideArrow(href="#")
            img.bottomSideSlideArrowImg(src="./img/arrowright.png")
        .bottomSideSlide
          p.bottomSideSlideText Скидки в сентябре
          a.bottomSideSlideArrow(href="#")
            img.bottomSideSlideArrowImg(src="./img/arrowright.png")
      .bottomSideNavigation
        ul.bottomSideNavigationList
          each name,href in commonNav
            li.bottomSideNavigationListItem
              a.bottomSideNavigationListItemLink(href=href)=name
        .bottomSideNavigationContacts
          svg.bottomSideNavigationContactsSvg
            use(xlink:href="#phone")
          a.bottomSideNavigationContactsNumber(href="tel:+7(812)998-88-91") +7 (812) 998-88-91 
    footer.footerSlides
      p.footerSlidesCopyright © 2014–2016 ООО «ГлавПиво» Все права защищены.
      .footerSlidesWarning
        img.footerSlidesWarningImg(src="./img/warning.png")
        p.footerSlidesWarningText Чрезмерное употребление алкогольной продукции вредит Вашему здоровью
      .footerSlidesSocials
        a.footerSlidesSocialLink(href="#")
          svg.footerSlidesSocialLinkSvg.Facebook
            use(xlink:href="#facebook")
        a.footerSlidesSocialLink(href="#")  
          svg.footerSlidesSocialLinkSvg.Vk
            use(xlink:href="#vk")
        a.footerSlidesSocialLink(href="#")    
          svg.footerSlidesSocialLinkSvg.Instagram
            use(xlink:href="#instagram")
      .footerSlidesCreation
        p.footerSlidesCreationText Создание — 
          a.footerSlidesCreationTextName(href='#') Danke 



