.sapphireSlide
    box vertical 
    position relative
    height 653px
    overflow hidden
    background url('../img/hop-sapphire-bg.png') no-repeat
    background-size cover
    +below(769px)
      height 490px
    +below(590px)
      height 300px
      
.sapphireSlideGreenAngle
    width 150%
    position absolute
    top 0
    animation moveShutter
    animation-duration 10s
    animation-timing-function cubic-bezier(0.23,1,0.32,1)
    opacity .4
    +below(769px)
      display none
    
.sapphireSlideArticle
    position relative
    box horizontal space-between
    width 80%
    margin 60px 0 110px 90px
    z-index 10
    +below(769px)
      width 100%
      margin 40px 0 70px 20px
    
.sapphireSlideArticleInfo
    margin-top 40px
    +below(769px)
      margin 0
    
.sapphireSlideArticleInfoSpecial 
    display inline-block
    margin-bottom 35px
    padding 17px 22px
    background #f5f5f5
    border-radius 16px
    color #000
    text-decoration none
    text-transform uppercase
    line-height 0px
    letter-spacing 1px
    font-size 10px
    font-family 'Gotham Pro Bold', Arial
    +below(769px)
      display none
    
.sapphireSlideArticleInfoHeading
    width 445px
    margin-bottom 20px
    color #fff
    line-height 50px
    font-size 48px
    font-family 'Gotham Pro Medium', Arial
    &Sort
        font-family 'Gotham Pro Bold', Arial
    &Profit
        font-family 'Gotham Pro Regular', Arial
    +below(769px)
      width 260px
      margin-bottom 130px
      font-size 28px
      line-height 28px
      
    
.sapphireSlideArticleInfoSale
    display inline-block
    padding 22px 33px
    background #5db768
    border-radius 22px
    color #000
    line-height 0px
    letter-spacing 1px
    text-decoration none
    text-transform uppercase
    text-shadow 1px 1px 0px rgba(255,255,255, 56%)
    font-size 14px
    font-family 'Proxima Nova Bold', Arial
    +below(769px)
      font-size 12px
    
.sapphireSlideArticlePrice
    position relative
    box vertical
    min-width 300px
    +below(769px)
      position absolute
      bottom 50px
      box horizontal space-between
      width 78%
    +below(500px)
      width 90%
      bottom 15px
      

.sapphireSlideArticlePriceBrand
    box-item right
    margin-bottom 15px
    +below(769px)
      display none
    
.sapphireSlideArticlePriceOld
    width 85px
    position relative
    margin-bottom 20px
    color #3fb68d
    line-height 20px
    font-size 32px
    font-family 'Gotham Pro Regular', Arial
    &:before
        content ''
        position absolute
        top 44%
        width 100%
        height 3px
        background #3fb68d
    +below(769px)
      font-size 20px
      &:before
        height 2px
        width 71%
        top 14%
        
.sapphireSlideArticlePriceNew
    box-item left
    margin-bottom 12px
    padding 15px 30px
    width 132px
    color #fff
    font-size 48px
    font-family 'Gotham Pro Bold', Arial
    border 5px solid #3fb68d
    border-radius 5% 50px
    +below(769px)
      order 3
      width 85px
      font-size 30px
      text-align center
    
.sapphireSlideArticlePriceDescr
    width 148px
    margin-left 47px
    color #fff
    line-height 18px 
    font-size 14px
    font-family 'Gotham Pro Bold', Arial
    +below(769px)
      box-item bottom
      width 135px
      margin 0
      position absolute
      top 35px
      font-size 12px
      
    