.profySlide
    box vertical 
    position relative
    height 658px
    overflow hidden
    +below(769px)
      height 490px
    +below(590px)
      height 300px
    
.profySlideBrownSide
    width 150%
    height 100%
    position absolute
    top 0 
    left -98%
    animation profyShutter
    animation-duration 3s
    animation-timing-function cubic-bezier(0.23,1,0.32,1)
    background #483E35
    transform skew(-25deg)
    z-index 5
    
.profySlideAuthorImg
    position absolute
    top -100px
    left 50%
    transform translateX(-50%)
    z-index 10
    +below(769px) 
      width 80%
      top 0
      left 76%
    +below(769px)
      width 115%
      
    
.profySlideBgImg
    background-image url("../img/profy-slide-bg.jpg")
    background-size cover
    position absolute
    top 0
    right 0
    width 45%
    height 100%
    +below(1070px)
      right -14%
    +below(890px)
      right -23%  
    +below(769px)
      width calc(110% + 30%)
      right -63%
    +below(590px)
      width calc(110% + 45%)
      right -70% 
        
    
.profySlideArticle 
    min-width 194px
    margin 100px 0 45px 90px
    z-index 11
    color #fff
    +below(769px)
      margin 56px 0 45px 30px
    
.profySlideArticleAuthor
    margin-bottom 12px
    letter-spacing 2px
    text-transform uppercase
    font-size 16px
    font-family 'Proxima Nova Bold', Arial
    +below(590px)
      font-size 12px
    
.profySlideArticleHeading
    max-width 434px
    margin-bottom 35px
    line-height 40px
    letter-spacing -1px
    font-size 34px
    font-family 'Gotham Pro Bold', Arial
    +below(590px)
      max-width 150px
      line-height 22px
      font-size 16px
    
.profySlideArticleLink
    padding 13px 32px
    border-radius 22px
    background #9ad875
    color #000
    text-decoration none
    text-transform uppercase
    letter-spacing 1px
    font-size 14px
    font-family 'Proxima Nova Bold', Arial
    text-shadow 1px 1px 0px rgba(255,255,255, 56%)
    +below(590px)
      padding 12px 24px
      font-size 12px
    
.slideArticleList
    box horizontal space-between
    width 80%
    margin-left 90px
    z-index 10
    +below(769px)
      margin-left 30px
    +below(590px)
      display none
    
.slideArticleListItem
    width 30%
    padding-top 20px
    border-top 1px solid rgba(195, 185, 185, 0.4)
    &:last-of-type
        margin 0
    &.active
        border-top 5px solid #fff
        
.slideArticleListItemName
    margin-bottom 15px
    color #ebe4e4
    line-height 12px
    letter-spacing 1px
    text-transform uppercase
    font-size 10px
    font-family 'Gotham Pro Medium', Arial
    
.slideArticleListItemTheme
    max-width 182px
    display block
    color #fff
    text-decoration none
    text-transform uppercase
    line-height 24px
    font-size 16px
    font-family 'Gotham Pro Bold', Arial
    
    
    
        