@font-face 
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Proxima Nova Bold.otf") format('OpenType');

@font-face 
    font-family: 'Proxima Nova Regular';   
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Proxima Nova Bold.otf") format('OpenType');

@font-face
    font-family: 'Gotham Pro Bold';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/GothaProBol.otf") format('OpenType');
    
@font-face
    font-family: 'Gotham Pro Medium';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GothaProMed.otf") format('OpenType');
    
@font-face
    font-family: 'Gotham Pro Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GothaProReg.otf") format('OpenType');